.app {
    display: grid;
    grid-template-areas:   "header header"
                        "runbook sidebar";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 500px;
}

.header {
    grid-area: header;
}

.runbook {
    grid-area: runbook;
    background: yellow;
}

.sidebar {
    grid-area: sidebar;
    /*background: green;*/
}
